@import 'scss/main.scss';

.joinGamePage {
    height: 100vh;
    
        .heading {
            font-size: $lg-font-size;
        }

        .joinGameForm {
            font-size: calc(#{$xs-font-size} / 2);

            .formInput {
                margin: $md-margin;
            }
        }
}
