@import 'scss/main.scss';

.gameViewPage {
    height: 100vh;
    
        h1 {
            font-size: $lg-font-size;
        }
}

.createGameViewPage {
    height: 100vh;
    
        h1 {
            font-size: $lg-font-size;
        }
}
