/*-- Colors -- */
$white: #ffffff;
$black: #000000;
$greyhound: #959595;
$bleu: #3d64a3;
$transparent: rgba(0,0,0,0);
/*-- Typeography --*/
    /*-- Fonts --*/
    $font-family: 'Helvetica Neue', sans-serif;
    /*-- Sizing --*/
    $xs-font-size: 14px;
    $sm-font-size: 20px;
    $lg-font-size: 40px;
    /*-- Color -- */
    $link-color: $bleu;
/*-- Borders --*/
    /*-- Color --*/
    /*-- Radius --*/
    $sm-border-radius: 5px;
/*-- Spacing --*/
    /*-- Padding --*/
    $sm-padding: 5px;
    /*-- Margin --*/
    $sm-margin: 5px;
/*-- Animation --*/
@function easeInTransition($seconds) {
    @return ease-in $seconds;
}